<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/GitQARepository3/CurrentworkSpace/FullStackQAJuly10th2025Repository/ActitimeAutomation">
        <classes>
            <class name="com.sgtesting.actitime.driverscript.DriverScript"></class>
        </classes>
    </test>
</suite>